@import "../css/general.scss";

#social-media {
  position: relative;
  height: 240px;
  padding: 100px 0;
  background-color: $basic-background;
}

#social-media .container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
}

#social-media h1 {
  width: 400px;
  font-size: 30px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#social-media img {
  width: 50px;
  margin: 10px;
  border-radius: 10%;
}

#social-media img:hover {
  transition: 0.5s;
  transform: translate(-5px, -5px);
}
