@import "../style.scss";

#about-us {
  background-color: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}

#about-us ul li {
  margin: 10px 0;
}

#about-us ul {
  margin-left: 30px;
}

.container .why_us_title::after {
  @extend .public_title;
  width: 180px;
}
