/* ----- Banner Section ----- */

#banner {
  position: relative;
  background-image: linear-gradient(to right, #957bf5, #5f1782);
  padding-top: 5%;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  // when screen < 768px
  #banner .img-fluid {
    width: 480px;
  }
  #banner .second-column {
    margin-top: -20px;
  }
}

@media only screen and (min-width: 768px) {
  // when screen > 768px, <992px
  #banner .second-column {
    margin-top: 200px;
  }
}

@media only screen and (min-width: 992px) {
  // when screen > 992px
  #banner .second-column {
    margin-top: 10px;
  }
}

#banner p:nth-child(1) {
  margin-top: 40px;
}

#banner p:nth-child(2) {
  text-align: justify;
  letter-spacing: 0.5px;
}

#banner h1 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 29px;
}

#banner .play-btn {
  width: 45px;
  margin: 20px;
}

#banner a {
  color: white;
  text-decoration: none;
}

#banner .bottom-img {
  margin-bottom: -30px;
  width: 100%;
  height: 100px;
}

#banner .img-fluid {
  position: relative;
  top: 10%;
  margin-top: 0;
}

.banner img {
  margin: 5% 4%;
}
