@import "../general.scss";

#services {
  padding: 80px 0;
}

#services .container {
  width: 100%;
  margin-right: 20px auto;
  margin-right: 20px auto;
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  // when screen < 768px
  #services .service-img {
    width: 340px;
    height: 240px;
    margin: 20px 50px;
  }
}

#services .services {
  margin-top: 15px;
  padding: 20px;
}

#services .services h4 {
  // padding: 1px;
  margin-top: 50px;
}

.what_we_do_title::after {
  @extend .public_title;
  width: 250px;
}

#services .btn-danger {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #5c0569, #9e27da);
}
