@import './banner';
@import './service';
@import './about';
@import './footer';
@import './social_media';
@import './testimonials';


$main-purple1: #a517ba;
$main-purple2: #5f1782;


* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  #nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .navbar {
    background-image: linear-gradient(to right, $main-purple1, $main-purple2);
    padding: 0 !important;
  }
  
  .navbar-brand img {
    height: 40px;
    padding-left: 5px;
  }
  
  .navbar-nav li {
    padding: 0 10px;
    a {
        color: #fff !important;
        font-weight: 600;
        float: right;
        text-align: center;
  }
}

  .fa-bars {
    color: #fff;
    font-size: 30px !important;
  }
  
  .navbar-toggler {
    outline: none !important;
  }
  
  
  
  
  
  
  